
    

     
<nav class="navbar navbar-expand-lg navbar-dark ">         
    <div class="container px-5">
        <a class="navbar-brand " href="index.html">
            <img src="images/pengom3 kopie.png" width="50"  class="d-inline-block mr-2" alt="">
            ink away
        </a>
                
        <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                    
        <div class="navbar-collapse collapse" id="navbarSupportedContent" >
                
                
            <div class="navbar-nav">
                <a class="nav-link" href="index.html">home </a>
                <a class="nav-link" href="onsproject.html">ons project</a>
                <a class="nav-link" href="opties.html">doneer</a>
                <a class="nav-link " href="overons.html">over ons</a>
                <a class="nav-link" href="contact.html">contact</a>
                                
            </div>
                  
                
        </div>
    </div>    
</nav> 


